<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

        <connectionStrings>
      		<add name = "mydbc"
      	    connectionString = "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Windows 10\Desktop\OOP2 PROJECT_exe\zZOODLE_SPAGHETTi.bacpac;Integrated Security=True"
      		  providerName = "System.Data.SqlClient"/>
      	</connectionStrings>

<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

      <!--
			<connectionStrings>
				<add name = "mydbc"
			    connectionString = "Data Source=EMONz-ARENA\SQLEXPRESS;Initial Catalog=zZOODLE_SPAGHETTi;Integrated Security=True"
				  providerName = "System.Data.SqlClient"/>
			</connectionStrings>
			-->

      <!--
      <connectionStrings>
    		<add name = "mydbc"
    	    connectionString = "Data Source=EMONz-ARENA\SQLEXPRESS;Initial Catalog=ZOODLE_SPAGHETTi;Integrated Security=True"
    		  providerName = "System.Data.SqlClient"/>
    	</connectionStrings>
      -->

      <!--
      <connectionStrings>
        <add name = "mydbc"
          connectionString = "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Windows 10\Desktop\OOP2 PROJECT_exe\zZOODLE_SPAGHETTi;Integrated Security=True"
          providerName = "System.Data.SqlClient"/>
      </connectionStrings>
      -->

      <!--
      <connectionStrings>
        <add name = "mydbc"
          connectionString = "Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=zZOODLE_SPAGHETTi;AttachDbFilename=C:\Users\Windows 10\Desktop\OOP2 PROJECT_exe\zZOODLE_SPAGHETTi.bacpac;Integrated Security=True"
          providerName = "System.Data.SqlClient"/>
      </connectionStrings>
      -->

</configuration>
